* {
    font-family: 'Nanum Gothic', sans-serif;
}
body {
    background-color: #ccc;
    max-height : 719px;
}
canvas {
    background-color: #eee;
}
h1 {
    padding :20px 0 0 0;
}
.container {
    width : 1000px;
    height : 720px;
    background-color : #ffffff;
    margin : 100px auto;
    text-align: center;
    border-radius: 10px;
}
.Btn-container {
    width : 100%;
    box-sizing: border-box;
    text-align: center;
    color: white;
}   
.Btns {
    margin : 0px auto;
    display : flex;
    width : 500px;
}
.Btn {
    width : 100px;
    height : 40px;
    font-size : 15px;
    border-radius: 10px;
    border : 1px solid #ccc;
    box-shadow: 0 0 0 10  grey;
    background-color: #ffffff;
    font-weight: bold;
    display : block;
    margin : 20px auto;
}
.Btn:focus {
    outline:none;
}

.Btn:hover {
    background-color: cornflowerblue;
    border : 1px solid #ccc;
}
